### Pandas examples for [dplython documentation](http://pythonhosted.org/dplython/#module-dplython.dplython)

Implementing dplython examples in vanilla pandas, potentially to add a side-by-side comparison with dplython later on

In [1]:
import pandas as pd

# Read in the diamonds dataset as a pandas DataFrame
diamonds = pd.read_csv('./diamonds.csv')

In [2]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [3]:
# Select specific columns of the DataFrame using select, and
#   get the first few using head

columns_selection = diamonds[['carat', 'cut', 'price']]
columns_selection.head()

   carat      cut  price
0   0.23    Ideal    326
1   0.21  Premium    326
2   0.23     Good    327
3   0.29  Premium    334
4   0.31     Good    335

In [6]:
# Filter out and select rows

diamonds_filtered = diamonds.query('carat > 4')[['carat', 'cut', 'depth', 'price']]
diamonds_filtered.head()

       carat      cut  depth  price
25998   4.01  Premium   61.0  15223
25999   4.01  Premium   62.5  15223
27130   4.13     Fair   64.8  17329
27415   5.01     Fair   65.5  18018
27630   4.50     Fair   65.8  18531